<h1>{{title | uppercase }}</h1>
<hr>
<div class="container">
    <div class="row">
        <div class="col-sm">
                <p *ngIf="isHidden">Shown</p>
                <button type="button" class="btn btn-primary" (click)="onAddButtonClick()">Add</button>
                <div 
                [ngClass]="{styled: index >= 4}" 
                [ngStyle]="{'background-color': index >= 4 ? 'blue' : ''}" 
                *ngFor="let element of elementsArray; let index =index">
                {{index +1}}
            </div>
        </div>
    </div>
   
</div>